<%- include("partials/header.ejs") %>
    <div class="main-container">
            <div>     
        <div class="riddle-container">
            <div class="item-riddle">
           <p>This project is an assignment from the Udemy course 
            “The Complete 2024 Web Development Bootcamp.” <br> The implemented 
            project is a website using the Express/Node.js platform, with an 
            Axios HTTP client that integrates a selected public API, namely 
            the Riddles API. The website interacts with the chosen API, retrieves 
            the data and presents it in a user-friendly manner.</p>
            </div>
        </div>
            </div>  
        </div>
<%- include("partials/footer.ejs") %>
<script src="/js/main.js"></script>