<%- include("partials/header.ejs") %>



<!--SECTION ABOUT-->
<section id="about">
  
    <div class="container-about mt-5 mb-5">
      <div class="container-about-item-1">
       <img class="img-icon" src="images/bee_icon.png" alt="icon of bee" height="80">
      </div>
      <div class="container-about-item-2">
        <p>The goal of this project is to create a Blog web application using Node.js, Express.js, and EJS. 
        The application will allow users to create and view blog posts. Posts will not persist between 
        sessions as no database will be used in this version of the application. 
        Styling will be an important aspect of this project to ensure a good user experience.</p>
      </div>
       </div>
       <h2 class="text-center mb-0">About</h2>
       <div id="img-about" class="img-container mt-0">
         <!--HERE IS BACKGROND IMAGE-->
         <span id="footer-label"><h5>BeeHive<br>Collection of quotes</h5></span>
         <div class="img-container-item">
          <div><a class="footer-link active" aria-current="page" href="/">Home</a></div>
          <div><a class="footer-link" href="/posts">Posts</a></div>
          
         </div>
        </div>

  
  
</section>
<!--END OF SECTION ABOUT-->
<%- include("partials/footer.ejs") %>