<div class="main-container">
    <div class="main-container-bg">
      <div class="main-container-items">
        <h1>Post your favorite quote. <br> Begin today.</h1>  

        <form action="/begin" method="GET">
          <button id="btn-begin" class="btn" type="submit">Begin</button>
        </form>              
    </div>
    </div>
</div>