<footer>
    <div class="footer-container">
         <div id="footer-logo" class="item-footer logo"><a href="/">Book notes</a></div>
         <div class="item-footer"><img src="/images/fox.png" height="40" alt="fox icon"></div>
         <div class="item-footer"><span><%= new Date().getFullYear()%></span></div>
    </div>
</footer>

</div> <!--END OF BG-COLOR DIV-->

<script>

    /* Set the width of the side navigation to 250px */
function openNav() {
document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
document.getElementById("mySidenav").style.width = "0";
}
 </script>
</body>
</html>