<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book notes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="bg-color">
<header>
  <div class="header-container">
    <div class="logo">
      <a class="sidenav-brand" href="/">Book notes</a>
    </div> 
    <img class="logo-img" src="/images/book.png" height="70" alt="fox icon">
    <div class="nav-links">
        <a class="nav-link-item" href="/enter">Log In</a>
        <a class="nav-link-item" href="/register">Sign Up</a>
   
    <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <span class="title-nav">Book notes</span>
  <a class="links" href="/enter">Log In</a>
  <a class="links" href="/register">Sign Up</a>
  <a href="/about">About</a>
    </div>
    
     <span id="menu-img" onclick="openNav()"><img src="/images/menu.png" height="30" alt="navbar icon"></span>
     </div>
    </div>
    </header>