<footer>
    <div class="footer">
        <h3>Powered by <a class="gradient__text" href="https://riddles-api.vercel.app/">Riddle API</a></h3>
        <img id="sm-logo" src="images/magical.png" height="20" alt="icon-cubics">
        <span><%= new Date().getFullYear() %></span>               
    </div>
</footer>

