<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riddle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">

</head>
<body>
    <div class="cover">
        <header>
            <nav>
               <div class="logo">
               <a href="/">
                    <img id="logo-img" src="images/magical.png" height="45" alt="icon-cubics">
               <h1>Riddle</h1>
               </a>
              </div>
              <div class="nav-link">
               <a href="/" class="navitem">Home</a>
               <a href="/about" class="navitem">About</a>
               </div>
           </nav>
           </header>