<%- include("partials/main_header.ejs") %>

        <div id="main-container" class="main-container">
                <div class="item-main-container">
                <p id="welcome-text">
                    <span style="color: #5CE1E6; font-style: italic;">Book Notes project</span>, is a Capstone project of Udemy's The Complete 2024 Web Development Bootcamp.<br> The project uses a public API - Open Library Covers API to get book covers, uses Express/Node.js for server programming and a PostgreSQL database to save data. <br>
                    
                </p>
            </div> 
        </div>

    <%- include("partials/footer.ejs") %>