<%- include("partials/main_header.ejs") %>

        <div id="main-container" class="main-container">
                <div class="item-main-container">
                <p id="welcome-text">
                    <span style="color: #5CE1E6; font-style: italic;">Welcome to the Book Notes</span>, where you can add your own notes from any book that you have read or just want to read.<br><br>
                    If you are a new user, please <a href="/register">Sign Up</a> to be able to save your notes for later use. Or, if you are a registered user, simply <a href="/enter">Log In</a>.
                </p>
            </div> 
        </div>

    <%- include("partials/footer.ejs") %>